.icon-img{
    width: 70px;
    height: 70px;
    margin-bottom: 2rem;
}


.btn-primary {
    color: #fff;
    background-color: #6C63FF !important;
    border-color: #6C63FF !important;
}

.educ-img{
    width: 744px;
    height: 500px;
}


